* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* 지도 영역 */
.kakaoMap {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 20px;
}